.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons {
    display: flex;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__dot {
    right: 14px;
    top: 43px;
}
